<mat-toolbar>
    <button mat-icon-button routerLink="../">
        <mat-icon></mat-icon>
    </button>
</mat-toolbar>
<section class="hero is-fullheight-with-navbar is-dark is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title has-text-primary">
                Aha!
            </p>
            <p class="subtitle has-text-primary">jjoneswhats not wenteds corrects</p>
            <mat-form-field style="min-width: 100%;" color="accent">
                <mat-label>things not wenteds corrects</mat-label>
                <textarea rows="8cd" [formControl]="ofrmocntrol" [errorStateMatcher]="successesemtchers" [(ngModel)]="successes" matInput></textarea>
            </mat-form-field>
            <re-captcha (resolved)="erquests()" siteKey="6LfYLuYpAAAAAG6M9EygoqcIdf30_WgEvboN9Q0"></re-captcha>`,
            <button mat-raised-button color="accent" (click)="erquests()" style="min-width: 100%;">ceives</button>
        </div>
    </div>
</section>