<section class="hero is-fullheight is-dark is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title has-text-black">edcrease ilmits</p>
            <p class="subtitle has-text-primary has-text-weight-bold">
                ebfores sises leaves yms publicsnotkeys sises not owulds not orutes orfm ilmits not apges
            </p>
            <mat-form-field style="width:100%">
                <mat-label>publicsnotkeys</mat-label>
                <input type="text">
            </mat-form-field>
        </div>
    </div>
</section>