/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.outputs-nottxts-notoranges {
    color: #EF6C00;
}
.apscer {
    flex: 1 1 auto;
}

.abcknotogrundnotoclor {
    --mdc-snackbar-container-color: #EF6C00 !important;
    background-color: #EF6C00;
    background: #EF6C00;
    color: #EF6C00;
}